{# jinja2: lstrip_blocks: "True", trim_blocks: "True" -#}
lang {{ system_language }}
keyboard {{ keyboard_layout  }}
timezone {{ time_zone }} --isUtc
rootpw {{ rt_pass | password_hash('sha512') }} --iscrypted
{#
{% if ssh_keys is defined -%}
  {% for keypair in ssh_keys -%}
    user --name={{ keypair.user }}
    sshkey --username={{ keypair.user }} "{{ keypair.key }}"
 {% endfor %}
{% endif %}
#}
reboot
cdrom
zerombr
bootloader --append="rhgb quiet crashkernel=auto"

# Partition clearing information
clearpart --all --initlabel
{#
autopart --nohome
#}
# Disk partitioning information
part /boot/efi --fstype="efi" --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --size=1024
part pv.1 --size 1 --grow --fstype="lvmpv" 
volgroup system --pesize=4096 pv.1

logvol swap --fstype="swap" --size=4096 --name=swap --vgname=system
logvol / --fstype xfs --vgname system --size=20480 --name=root

#logvol /var --fstype xfs --vgname system --size=16384 --name=var
#logvol /tmp --fstype xfs --vgname system --size=40960 --name=tmp
#logvol /opt --fstype xfs --vgname system --size=8192 --name=opt


auth --passalgo=sha512 --useshadow
{% if network_bootproto == "dhcp" %}
network --bootproto=dhcp
{%- else -%}
network --bootproto=static 
{%- if name            is defined %} --hostname={{ name }} {% endif -%}
{%- if host_netdevice  is defined %} --device={{ host_netdevice }} {% endif -%}
{%- if host_ip         is defined %} --ip={{ host_ip }} {% endif -%}
{%- if host_netmask    is defined %} --netmask={{ host_netmask }} {% endif -%}
{%- if host_gateway    is defined %} --gateway={{ host_gateway }} {% endif -%}
{%- if host_nameserver is defined %} --nameserver={{ host_nameserver }} {% endif %}
{% endif %}
{# network --device=ens3f0 --hostname=u10hana --bootproto=static --ip=10.6.80.117 --netmask=255.255.255.0 --gateway=10.6.80.1 --nameserver=10.11.0.13 #}

firstboot --disable
selinux --enforcing
firewall --enabled --ssh
%packages
@^minimal-environment
kexec-tools
%end
{% if ssh_keys is defined -%}
%post
  {% for keypair in ssh_keys -%}
    {% if keypair.user == 'root' %}
#---- Install our root SSH key ----
mkdir -m0700 /root/.ssh/

cat <<EOF >/root/.ssh/authorized_keys
{{ keypair.key }}
EOF

### set permissions
chmod 0600 /root/.ssh/authorized_keys

### fix up selinux context
restorecon -R /root/.ssh/
    {% else %}
mkdir -m0700 /home/{{ keypair.user }}/.ssh/

cat <<EOF >/home/{{ keypair.user }}/.ssh/authorized_keys
{{ keypair.key }}
EOF

### set permissions
chmod 0600 /home/{{ keypair.user }}/.ssh/authorized_keys

### fix up selinux context
restorecon -R /home/{{ keypair.user }}/.ssh/
   {% endif %}
 {% endfor %}
%end
{% endif %}
