{# jinja2: lstrip_blocks: "True", trim_blocks: "True" -#}
lang {{ system_language }}
keyboard {{ keyboard_layout  }}
timezone {{ time_zone }} --isUtc
rootpw {{ rt_pass | password_hash('sha512') }} --iscrypted
{% if ssh_keys is defined -%}
  {% for keypair in ssh_keys -%}
    sshkey --username {{ keypair.user }} "{{ keypair.key }}"
 {%- endfor %}
{% endif -%}
reboot
cdrom
bootloader --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart

auth --passalgo=sha512 --useshadow
{% if network_bootproto == "dhcp" %}
network --bootproto=dhcp
{%- else -%}
network --bootproto=static 
{%- if name            is defined %} --hostname={{ name }} {% endif -%}
{%- if host_netdevice  is defined %} --device={{ host_netdevice }} {% endif -%}
{%- if host_ip         is defined %} --ip={{ host_ip }} {% endif -%}
{%- if host_netmask    is defined %} --netmask={{ host_netmask }} {% endif -%}
{%- if host_gateway    is defined %} --gateway={{ host_gateway }} {% endif -%}
{%- if host_nameserver is defined %} --nameserver={{ host_nameserver }} {% endif %}
{% endif %}
{# network --device=ens3f0 --hostname=u10hana --bootproto=static --ip=10.6.80.117 --netmask=255.255.255.0 --gateway=10.6.80.1 --nameserver=10.11.0.13 #}

firstboot --disable
selinux --enforcing
firewall --enabled --ssh
%packages
@^minimal-environment
kexec-tools
%end
