  name: "{{ server_profile_template_name }}"
  serverHardwareTypeName: "{{ server_hardware_type_name }}"
  enclosureGroupName: "{{ enclosure_group_name }}"
  #initialScopeNames:
  #  - Renamed
  #  - test
  managementProcessor: 
{% if manage_mp is defined and manage_mp %}
    complianceControl: "Checked"
    manageMp: true
    mpSettings: 
      - settingType: "AdministratorAccount"
        args: 
          deleteAdministratorAccount: false
          password: "{{ ilo_password }}"
{% else %}
    manageMp: false
{% endif %}
  bios:
{% if manage_bios is defined and manage_bios %}
    complianceControl: "Checked"
    manageBios: true
    overriddenSettings: 
     - id: "CustomPostMessage"
       value: "This is the Workshop Custom Post screen message"
     - id: "ExtendedMemTest"
       value: "Disabled"
{% else %}
    manageBios: false
{% endif %}
  boot:
    manageBoot: true
    order:
      - "HardDisk"
  bootMode:
    manageMode: true
    mode: "UEFIOptimized"
    pxeBootPolicy: "Auto"
    secureBoot: "Disabled"
  connectionSettings:
    complianceControl: "CheckedMinimum"
    manageConnections: true
    connections: 
      - id: 1
        name: "Red Hat Wrkld"
        functionType: "Ethernet"
        networkName: "{{ deployment_network_name }}"
        ##networkName: null
        portId: "Mezz 3:1-a"
        requestedMbps: 2500
        requestedVFs: "Auto"
        boot:
          priority: "Primary"
          ethernetBootType: "PXE"
          bootVlanId: null
        lagName: null
        managed: true
        isolatedTrunk: false
  localStorage: 
    complianceControl: "CheckedMinimum"
    ##sasLogicalJBODs: null
    controllers: 
      - deviceSlot: "Embedded"
        mode: "Mixed"
        initialize: true
        driveWriteCache: "Unmanaged"
        predictiveSpareRebuild: "Unmanaged"
        logicalDrives: 
          - name: "OS_VOL"
            raidLevel: "RAID1"
            bootable: true
            numPhysicalDrives: 2
            driveTechnology: null
            sasLogicalJBODId: null
            accelerator: "Unmanaged"
            numSpareDrives: null
  sanStorage:
        complianceControl: "Unchecked"
        manageSanStorage: false
  firmware:
    complianceControl: Unchecked
    manageFirmware: false
{#    ##firmwareBaselineName: "{{ firmware_baseline_name }}"
    ##firmwareInstallType: "FirmwareAndOSDrivers"
#}
    forceInstallFirmware: false
  osDeploymentSettings: null
